.Chessboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 100vh;
}

header {
  height : 10vh;
  font-size: 2rem;
}

.Chessboard {
  display: flex;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
}

.row-block {
  width: 100%;
  display: flex;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

.col-block  {
  flex : 1;
  height : 10vh;
  border: 1px solid black;
}